<link
  rel="icon"
  id="dynamic-favicon"
  href="{{ '/assets/images/favicon-inactive.ico' | relative_url }}"
  type="image/x-icon"
/>
<script defer data-domain="james-brandt.github.io" src="https://plausible.io/js/script.outbound-links.js"></script>
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    },
    options: {
      renderActions: {
        addMenu: []
      }
    }
  };
</script>
<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
