:root {
  --gradient: linear-gradient(
  45deg,
  #ffae00,
  #005eff,
  #6e00ad,
  #b1640d,
  #235eb6
  );
    height: 100vh;
}
@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;}
img {
    max-width: 100%;
    height: 100vh;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    padding-bottom: 30vh;
    overflow-x: hidden; 
    max-height: 100vh;
    background-image: var(--gradient);
    background-size: 300%;
    animation: bg-animation 20s infinite alternate;}

.container {
    width: 95%;
    margin: 0 auto;}
    /* typography */
h1 {
    font-weight: 300;
    font-size: 1rem;}
.title {
    font-size: 2.5rem;}
.title span{
    font-weight: 300;
    display: block;
    font-size: .4em;}
    @media (min-width: 40rem) {
    .title {
    font-size: 4rem;}}
    /* header */
header{
    position: absolute;
    left: 0;
    right: 0;
    margin: 5vh}

@media (min-width:0rem) {
nav ul {
    margin: 0;
    padding 0;
    list-style: none;
float: right;}
nav li {
    padding-top: 0em;
    float: right;
    margin: 1em;}
nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    color: white;
    padding: .02em;
float: right;}
nav a:hover {
    color: rgba(0,0,0,0.1);}
@media (min-width:60rem) {
    nav {
        float: right;
        padding-top:0px;}}
    /* intro */
.home-intro {
    color: #fff;}
@media (min-width: 0rem) {
    .home-intro {
        height: 100vh;
        padding-top:30vh}}
    /*bio*/
.home-about-box {
    padding-top: 10vh;
    overflow: auto;
    background-color: rgb(255,255,255,0.09);
    color: white;
    padding: 3%;
    width: 80vw;
    margin-left: 25%;
    border-radius: 30px;
    border-color: white;
    position: relative;
    line-height: 1.6em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.123)
    }
.home-about-box h1 {
    color:#fff;
}
@media (min-width:0rem) {
    h1 {
        font-size: 2.5rem;}
    .home-about-box h1{
        padding-top: 1vh;
        height: 5vh;
    }
@media (min-width:20rem) {
    .home-about-box {
        max-height: 70vh;
        max-width: 50vw;
    }