* {
  outline: 0;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: basic=sans, san-serif;
  min-height: 100vh;
  display: flex;
  justify-content:center;
  font-size: 1.125em;
  line-height: 1.6;
  color: #333;
  background: #ddd;
  background-image: linear-gradient(45deg, red, blue);
}

canvas {
  width: 100%;
  height: 100%;
}
