---
---
:root {
  --gradient: linear-gradient(
  45deg,
  #0060FF,
  #216BE7,
  #2D62BB,
  #4569A4,
  #4C5D77
  );
}

body{
  font-family: basic sans, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: #333;
  background: #000;
  background-image: var(--gradient);
  background-size: 400%;
}