<footer class="page__footer">
  <div class="wrapper">
    <div class="footer__navigation">
      {% if site.footer.links %}
        <ul class="social-icons">
          {% for link in site.footer.links %}
            <li>
              <a href="{{ link.url }}" rel="nofollow noopener noreferrer">
                <i class="{{ link.icon }}"></i> {{ link.label }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="page__footer-copyright">
      &copy; {{ site.time | date: "%Y" }} {{ site.title }}.
    </div>
  </div>
</footer>
